In [1]:
# CREATE A BMI CALCULATOR . 

kilogram = float ( input ( "ENTER THE WEIGHT IN KILOGRAM:" ) )
meter = float ( input ( "ENTER THE LENGTH IN METER:" ) )

bmi = kilogram / ( meter ** 2 )

if bmi < 16 :
    print ( "SEVERE THICKNESS" )
    print ( "THE VALUE OF BMI IS :" , bmi )

elif bmi >= 16 and bmi < 17 :
    print ( "MODERATE THICKNESS" )
    print ( "THE VALUE OF BMI IS :" , bmi )

elif bmi >= 17 and bmi < 18.5 :  
    print ( "MILD THICKNESS" )
    print ( "THE VALUE OF BMI IS :" , bmi )

elif bmi >= 18.5 and bmi < 25 : 
    print ( "NORMAL WIGHT" )  
    print ( "THE VALUE OF BMI IS :" , bmi )

elif bmi >= 25 and bmi < 30 : 
    print ( "OVER WIGHT" ) 
    print ( "THE VALUE OF BMI IS :" , bmi )

elif bmi >= 30 and bmi < 35 : 
    print ( "OBESITY CLASS ONE" )
    print ( "THE VALUE OF BMI IS :" , bmi )

elif bmi >= 35 and bmi < 40 : 
    print ( "OBESITY CLASS TWO" )
    print ( "THE VALUE OF BMI IS :" , bmi )

else : 
    print ( "OBESITY CLASS THREE" )
    print ( "THE VALUE OF BMI IS :" , bmi )

ENTER THE WEIGHT IN KILOGRAM:76.4
ENTER THE LENGTH IN METER:1.66
OVER WIGHT
THE VALUE OF BMI IS : 27.7253592683989

In [2]:
# PROGRAM TO FIND THE SUM OF ALL NUMBERS EXCEPT ODD NUMBERS BETWEEN 1 TO 20 .

# USING WHILE LOOP .

total = 0
num = 1
while num <= 20 :
    if num % 2 == 0 :
        total = total + num
    num = num + 1
print ( "THE SUM OF EVEN NUMBERS FROM 1 TO 20 IS :" , total )

THE SUM OF EVEN NUMBERS FROM 1 TO 20 IS : 110

In [3]:
# PROGRAM TO FIND THE SUM OF ALL NUMBERS EXCEPT ODD NUMBERS BETWEEN 1 TO 20 .

# USING FOR LOOP .

totals = 0 
for nums in range (1,21) :
    if nums % 2 == 0 :
        totals = totals + nums
    nums = nums + 1
print ( "THE SUM OF EVEN NUMBERS FROM 1 TO 20 IS :" , totals )

THE SUM OF EVEN NUMBERS FROM 1 TO 20 IS : 110

In [4]:
'''
CREATE A LIST OF FRIENDS NAME AND NOW CREATE A LIST OF TUPLES . 
THE TUPLE SHOULD CONTAINS FRIENDS NAME AND THE LENGTH OF THE NAME 
FOR EXAMPLE IF "JAYESH" IT SHOULD BE ( "JAYESH" , 6 ) .
'''

list_friends = [ "JOBIN" , "JAYESH" , "LIVINSTON" , "SUNDARAM" , "PRAVIN" , "ARPIT" , "PREETHY" , "TOM" , "ADAM" , "PRATEEK" ]
for names in list_friends :
    print ( "(" , names , "," ,  len(names) , ")" , end="," )

( JOBIN , 5 ),( JAYESH , 6 ),( LIVINSTON , 9 ),( SUNDARAM , 8 ),( PRAVIN , 6 ),( ARPIT , 5 ),( PREETHY , 7 ),( TOM , 3 ),( ADAM , 4 ),( PRATEEK , 7 ),

In [5]:
# WRITE A PYTHON FUNCTION TO CHECK IF ANY GIVEN NUMBER IS PRIME NUMBER AND ODD NUMBER .

def prime_odd (values) :
    if values % 2 == 0 :
        return False
    if values < 2 :
        return False
    for v in range ( 2 , values//2 ) :
        if values % v == 0 :
            return False
        else :
            return True   
print ( prime_odd(17) )

True