In [1]:
for x in range(0,41,4):
    print(x)

0
4
8
12
16
20
24
28
32
36
40

In [2]:
exp = [ 480 , 640 , 560 , 320 , 720 , 240 , 800 , 360 , 420 , 520 ]
for y in exp:
    print(y)

480
640
560
320
720
240
800
360
420
520

In [3]:
exp = [ 480 , 640 , 560 , 320 , 720 , 240 , 800 , 360 , 420 , 520 ]
total = 0
for z in exp:
    total = total + z
print(total)

5060

In [4]:
exp = [ 480 , 640 , 560 , 320 , 720 , 240 , 800 , 360 , 420 , 520 ]
total = 0
for z in exp:
    total = total + z
    print(total)

480
1120
1680
2000
2720
2960
3760
4120
4540
5060

In [5]:
expense = [ 1200 , 1300 , 1500 , 1700 ]
sum = 0
for w in expense:
    sum = sum + w
print(sum)

5700

In [6]:
v = int ( input ("ENTER NUMBER :" ) )
total = 0
for t in range ( 1 , v+1 ):
    total = total + t
print(total)

ENTER NUMBER :20
210

In [7]:
r = 0
for s in range(1,11):
    r = r + s
print(r)

55

In [8]:
rr = 0
for ss in range(11,21):
    rr = rr + ss
print(rr)

155

In [9]:
print ( range(0,5) )

range(0, 5)

In [10]:
print ( list (range(0,5)) )

[0, 1, 2, 3, 4]

In [11]:
exp = [ 480 , 640 , 560 , 320 , 720 , 240 , 800 , 360 , 420 , 520 ]
for q in range(len(exp)):
    print(q)

0
1
2
3
4
5
6
7
8
9

In [12]:
print (len(exp))

10

In [13]:
exp = [ 480 , 640 , 560 , 320 , 720 , 240 , 800 , 360 , 420 , 520 ]
p = len(exp)
for q in range(p):
    print(q)

0
1
2
3
4
5
6
7
8
9

In [14]:
locations = [ "TABLE" , "CHAIR" , "CUPBOARD" , "BED" , "GARAGE" , "KITCHEN" , "SOFA" , "BOX" ]

for key in locations:
    
    if key == "GARAGE":
        print ( "KEY IS FOUND :" , key )
        break
        
    else:
        print ( "KEY IS NOT FOUND :" , key )

KEY IS NOT FOUND : TABLE
KEY IS NOT FOUND : CHAIR
KEY IS NOT FOUND : CUPBOARD
KEY IS NOT FOUND : BED
KEY IS FOUND : GARAGE

In [15]:
locations = [ "TABLE" , "CHAIR" , "CUPBOARD" , "BED" , "GARAGE" , "KITCHEN" , "SOFA" , "BOX" ]

for key in locations:
    
    if key == "GARAGE":
        print ( "KEY IS FOUND :" , key )
        continue
        
    else:
        print ( "KEY IS NOT FOUND :" , key )

KEY IS NOT FOUND : TABLE
KEY IS NOT FOUND : CHAIR
KEY IS NOT FOUND : CUPBOARD
KEY IS NOT FOUND : BED
KEY IS FOUND : GARAGE
KEY IS NOT FOUND : KITCHEN
KEY IS NOT FOUND : SOFA
KEY IS NOT FOUND : BOX

In [16]:
for n in range(0,11):
    if n % 2 == 0:
        continue
    print(n)

1
3
5
7
9

In [17]:
for n in range(0,41):
    if n % 4 != 0:
        continue
    print(n)

0
4
8
12
16
20
24
28
32
36
40

In [18]:
m = 0
while m <= 10:
    print(m)
    m = m + 1

0
1
2
3
4
5
6
7
8
9
10

In [19]:
weekly = [ 48 , 64 , 56 , 44 , 60 , 68 , 52 ]
add = 0

for w in weekly:
    add = add + w
print(add)

392

In [20]:
import numpy as np
weekly = np.array ([ 48 , 64 , 56 , 44 , 60 , 68 , 52 ])
add = 0

for w in weekly:
    add = add + w
print(add)

392

In [21]:
import numpy as np
weekly = np.array ([ 48 , 64 , 56 , 44 , 60 , 68 , 52 ])
add_weekly = np.sum(weekly)
print(add_weekly)

392

In [22]:
weekly = [ 48 , 64 , 56 , 44 , 60 , 68 , 52 ]

def find_total (adds) :
    sum = 0
    for j in adds:
        sum = sum + j
    return sum

print ( find_total(weekly) )

392

In [23]:
def find_total (adds) :
    sum = 0
    for j in adds:
        sum = sum + j
    return sum

scores = [ 81 , 82 , 83 , 84 , 85 , 86 , 87 , 88 ]
print ( find_total(scores) )

676

In [24]:
country = ( "FRANCE" , "ITALY" , "GERMANY" , "POLAND" , "SPAIN" , "NORWAY" , "IRELAND" , "LATVIA" )
for l in country:
    print(l)

FRANCE
ITALY
GERMANY
POLAND
SPAIN
NORWAY
IRELAND
LATVIA

In [25]:
state = [ "FRANCE" , "ITALY" , "GERMANY" , "POLAND" , "SPAIN" , "NORWAY" , "IRELAND" , "LATVIA" ]
for k in state:
    print(k)

FRANCE
ITALY
GERMANY
POLAND
SPAIN
NORWAY
IRELAND
LATVIA

In [26]:
state[7] = "ESTONIA"
print(state)

['FRANCE', 'ITALY', 'GERMANY', 'POLAND', 'SPAIN', 'NORWAY', 'IRELAND', 'ESTONIA']

In [27]:
contacts = { "aaa" : 1024 , "bbb" : 1764 , "ccc" : 1296 , "ddd" : 1600 , "eee" : 1444 , "fff" : 1936 
            , "ggg" : 2116 , "hhh" : 1156 }
print(contacts)

{'aaa': 1024, 'bbb': 1764, 'ccc': 1296, 'ddd': 1600, 'eee': 1444, 'fff': 1936, 'ggg': 2116, 'hhh': 1156}

In [28]:
print ( contacts["ddd"] )

1600

In [29]:
contacts["fff"] = 2304
print(contacts)

{'aaa': 1024, 'bbb': 1764, 'ccc': 1296, 'ddd': 1600, 'eee': 1444, 'fff': 2304, 'ggg': 2116, 'hhh': 1156}

In [30]:
print (dir(contacts))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [31]:
print ( contacts.items() )

dict_items([('aaa', 1024), ('bbb', 1764), ('ccc', 1296), ('ddd', 1600), ('eee', 1444), ('fff', 2304), ('ggg', 2116), ('hhh', 1156)])

In [32]:
print ( contacts.values() )

dict_values([1024, 1764, 1296, 1600, 1444, 2304, 2116, 1156])

In [33]:
print ( contacts.keys() )

dict_keys(['aaa', 'bbb', 'ccc', 'ddd', 'eee', 'fff', 'ggg', 'hhh'])

In [34]:
for names in contacts:
    print ( names , contacts[names] )

aaa 1024
bbb 1764
ccc 1296
ddd 1600
eee 1444
fff 2304
ggg 2116
hhh 1156

In [35]:
for names in contacts:
    print ( contacts[names] )

1024
1764
1296
1600
1444
2304
2116
1156

In [36]:
for names in contacts:
    print ( names )

aaa
bbb
ccc
ddd
eee
fff
ggg
hhh

In [37]:
print ( id(contacts) )

2990763878848

In [38]:
import pandas as pd
df = pd.read_csv( "WEATHER_DATA.csv" , header=0 , sep="," )
print ( df.to_string() )

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [39]:
weather = {
 'day' : [ "01-01-2017" , "02-01-2017" , "03-01-2017" , "04-01-2017" , "05-01-2017" , "06-01-2017" ] ,   
 'temperature' : [32,35,28,24,32,31] , 
 'windspeed' : [4,7,3,7,4,2] , 
 'event' : [ "RAIN" , "SUNNY" , "SNOW" , "SNOW" , "RAIN" , "SUNNY" ] }

print(weather)

{'day': ['01-01-2017', '02-01-2017', '03-01-2017', '04-01-2017', '05-01-2017', '06-01-2017'], 'temperature': [32, 35, 28, 24, 32, 31], 'windspeed': [4, 7, 3, 7, 4, 2], 'event': ['RAIN', 'SUNNY', 'SNOW', 'SNOW', 'RAIN', 'SUNNY']}

In [40]:
print ( df.columns )

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [41]:
print ( df.shape )

(6, 4)

In [42]:
print ( df.describe() )

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [43]:
print ( df.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes
None

In [44]:
print (type(df))

<class 'pandas.core.frame.DataFrame'>

In [45]:
print (type(df["day"]))

<class 'pandas.core.series.Series'>

In [46]:
print ( df["day"] )

0    01-01-2017
1    02-01-2017
2    03-01-2017
3    04-01-2017
4    05-01-2017
5    06-01-2017
Name: day, dtype: object

In [47]:
print ( df["temperature"].max() )

35

In [48]:
print ( df["temperature"].min() )

24

In [49]:
print ( df["temperature"] > 32 )

0    False
1     True
2    False
3    False
4    False
5    False
Name: temperature, dtype: bool

In [50]:
import pandas as pd
wea_data = pd.DataFrame( data=weather )
print(wea_data)

          day  temperature  windspeed  event
0  01-01-2017           32          4   RAIN
1  02-01-2017           35          7  SUNNY
2  03-01-2017           28          3   SNOW
3  04-01-2017           24          7   SNOW
4  05-01-2017           32          4   RAIN
5  06-01-2017           31          2  SUNNY

In [51]:
india_weather = pd.DataFrame ({
"CITY" : [ "MUMBAI" , "DELHI" , "BANGALORE" ] ,
"TEMPERATURE" : [32,45,30] ,
"HUMIDITY" : [80,60,78]
})

print(india_weather)

        CITY  TEMPERATURE  HUMIDITY
0     MUMBAI           32        80
1      DELHI           45        60
2  BANGALORE           30        78

In [52]:
america_weather = pd.DataFrame ({
"CITY" : [ "NEWYORK" , "CHICAGO" , "ORLANDO" ] ,
"TEMPERATURE" : [21,14,35] ,
"HUMIDITY" : [68,65,75]
})

print(america_weather)

      CITY  TEMPERATURE  HUMIDITY
0  NEWYORK           21        68
1  CHICAGO           14        65
2  ORLANDO           35        75

In [53]:
defs = pd.concat ([ india_weather , america_weather ])
print(defs)

        CITY  TEMPERATURE  HUMIDITY
0     MUMBAI           32        80
1      DELHI           45        60
2  BANGALORE           30        78
0    NEWYORK           21        68
1    CHICAGO           14        65
2    ORLANDO           35        75

In [54]:
d = pd.concat ([ india_weather , america_weather ], keys=[ "INDIA" , "AMERICA" ])
print(d)

                CITY  TEMPERATURE  HUMIDITY
INDIA   0     MUMBAI           32        80
        1      DELHI           45        60
        2  BANGALORE           30        78
AMERICA 0    NEWYORK           21        68
        1    CHICAGO           14        65
        2    ORLANDO           35        75

In [55]:
print ( d.loc["INDIA"] )

        CITY  TEMPERATURE  HUMIDITY
0     MUMBAI           32        80
1      DELHI           45        60
2  BANGALORE           30        78

In [56]:
print ( d.loc["AMERICA"] )

      CITY  TEMPERATURE  HUMIDITY
0  NEWYORK           21        68
1  CHICAGO           14        65
2  ORLANDO           35        75

In [57]:
df1 = pd.DataFrame ({
"CITY" : [ "MUMBAI" , "DELHI" , "BANGALORE" ] ,
"TEMPERATURE" : [32,45,30]     
})
print(df1)

        CITY  TEMPERATURE
0     MUMBAI           32
1      DELHI           45
2  BANGALORE           30

In [58]:
df2 = pd.DataFrame ({
"CITY" : [ "MUMBAI" , "DELHI" , "BANGALORE" ] ,
"HUMIDITY" : [68,65,75]   
})
print(df2)

        CITY  HUMIDITY
0     MUMBAI        68
1      DELHI        65
2  BANGALORE        75

In [59]:
df_inner = pd.merge ( df1 , df2 , on="CITY" , how="inner" )
print(df_inner)

        CITY  TEMPERATURE  HUMIDITY
0     MUMBAI           32        68
1      DELHI           45        65
2  BANGALORE           30        75

In [60]:
df3 = pd.DataFrame ({
"CITY" : [ "PUNE" , "RAJKOT" , "RAIPUR" , "PATNA" , "CHENNAI" , "NAGPUR" ] ,
"TEMPERATURE" : [34,36,42,32,40,38]     
})
print(df3)

      CITY  TEMPERATURE
0     PUNE           34
1   RAJKOT           36
2   RAIPUR           42
3    PATNA           32
4  CHENNAI           40
5   NAGPUR           38

In [61]:
df4 = pd.DataFrame ({
"CITY" : [ "PUNE" , "RAJKOT" , "RAIPUR" , "SURAT" , "KOCHI" , "LUCKNOW" ] ,
"HUMIDITY" : [84,64,76,80,92,60]     
})
print(df4)

      CITY  HUMIDITY
0     PUNE        84
1   RAJKOT        64
2   RAIPUR        76
3    SURAT        80
4    KOCHI        92
5  LUCKNOW        60

In [62]:
df_inner_join = pd.merge ( df3 , df4 , on="CITY" , how="inner" )
print (df_inner_join)

     CITY  TEMPERATURE  HUMIDITY
0    PUNE           34        84
1  RAJKOT           36        64
2  RAIPUR           42        76

In [63]:
df_outer = pd.merge ( df3 , df4 , on="CITY" , how="outer" )
print (df_outer)

      CITY  TEMPERATURE  HUMIDITY
0     PUNE         34.0      84.0
1   RAJKOT         36.0      64.0
2   RAIPUR         42.0      76.0
3    PATNA         32.0       NaN
4  CHENNAI         40.0       NaN
5   NAGPUR         38.0       NaN
6    SURAT          NaN      80.0
7    KOCHI          NaN      92.0
8  LUCKNOW          NaN      60.0

In [64]:
df_left = pd.merge ( df3 , df4 , on="CITY" , how="left" )
print (df_left)

      CITY  TEMPERATURE  HUMIDITY
0     PUNE           34      84.0
1   RAJKOT           36      64.0
2   RAIPUR           42      76.0
3    PATNA           32       NaN
4  CHENNAI           40       NaN
5   NAGPUR           38       NaN

In [65]:
df_right = pd.merge ( df3 , df4 , on="CITY" , how="right" )
print (df_right)

      CITY  TEMPERATURE  HUMIDITY
0     PUNE         34.0        84
1   RAJKOT         36.0        64
2   RAIPUR         42.0        76
3    SURAT          NaN        80
4    KOCHI          NaN        92
5  LUCKNOW          NaN        60

In [66]:
print (df.tail() )

          day  temperature  windspeed  event
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [67]:
print ( df.head() )

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain

In [68]:
print ( df.count() )

day            6
temperature    6
windspeed      6
event          6
dtype: int64